# OS
.DS_Store

# Python
__pycache__/
*.pyc

# Archives / temp
*.zip

arm64/
arm64/

# Simulation output
data/
Helper Scripts & misc. (must remove from folder to use)/FRHcode/data/

# Generated plots
*.png*.json
